@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
.container{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    background-color: red;
    margin: 0;
}
/* BACKGROUND LEFT */

.backgroungLogin {
    display: flex;
    width: 100%;
    background-color: white;
}
.left{
    text-align: center;
}
.logo{
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    width: 100%;
    height: 24px;
    position: relative;    
}
.backgroungLogin img{
    width: 100%;
    height: 100%;
    position: relative;
}

/* BACKGROUND RIGHT */



.right{
    display: flex;
    text-align: left;
    justify-content: space-between;
    margin: auto;
}
.backgroungLogin .title{
    display: block;
    width: 100%;
    color: black;
    
}
.backgroungLogin .signUp{
    display: flex;
    flex-direction: column;
    width: 456px;
    height: 314px;
    margin: 24px 0;
}
.backgroungLogin .signUp input{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 16px;
    text-align: left;
    border-style: none;
    border-bottom: 1px solid #E8ECEF;
    
    /* border-color: red; */

    padding: 0 0 8px 0;
    height: 40px;
    
}
.backgroungLogin .signUp .checkboxLabel{
    display: flex;
}
.backgroungLogin .signUp .checkboxLabel p{
    font-family: "Inter", sans-serif;
    font-weight: 400;
    margin-left: 8px;
}
.backgroungLogin .signUp .checkbox{
    margin: 15px 0;
    width: 24px;
    height: 24px;
    cursor: pointer;
    border-radius: 15px;
    background-color: red;
}
.backgroungLogin .signUp .button{
    height: 48px;
    padding: 10px 40px;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    border-radius: 8px;
    border: none;
    color: white;
    background-color: black;
}
