.buttonShopNow {
  height: 28px;
  max-width: 100%;
  text-align: start;
  align-items: start;
  font-family: "Inter", sans-serif;
  padding: 0;
  background-color: transparent;
  border-style: none none solid none;
  top: 5%;
  left: 5%;
  z-index: 1;
  cursor: pointer;
}