.buttonShopNow {
  width: 85px;
  text-align: start; 
  font-family: "Inter", sans-serif;
  padding: 0;
  background-color: transparent;
  border-style: none none solid none;
  border-width: 1px;
  z-index: 1;
  cursor: pointer;
}