.buttonShopNow {
  height: 28px;
  max-width: 100%;
  text-align: start;
  align-items: start;
  font-family: "Inter", sans-serif;
  padding: 0;
  background-color: white;
  border-style: none none solid none;
  position: absolute;
  top: 10%;
  left: 5%;
  z-index: 1;
}
.livingRoom{
  position: relative;
}
.livingRoom img {
  width: 548px;
  height: 664px;
  
}
.livingRoom h2{
  font-family: "Poppins", sans-serif;
  position: absolute;
  top: 0%;
  left: 5%;
  z-index: 1;
}
.living Room:nth-child(1){
  grid-row: 1/3;

}
