.livingRoom {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 50%;

}
.livingRoom img {
  width: 548px;
  height: 664px;
}
.livingRoom h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 34px;
}
