.container {
  width: 90%;
  margin: auto;
  text-align: center;
}
/* SLIDER SECTION */
.sliderSection {
  width: 100%;
  height: auto;
}
.sliderSectionImg {
  position: relative;
  max-width: 100%;
  height: 800px;
  overflow: hidden;
}
.sliderSection img {
  position: relative;
  top: -35%;
  height: auto;
  width: 100%;
}

.sliderSection .header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sliderSection .header h2 {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 72px;
  text-align: left;
  margin: 0;
}
.sliderSection .header p {
  align-items: start;
  margin-right: 15%;
}
/* BANNER GRID */
.bannerGrid {
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  gap: 35px;
}
.bannerGrid .twoCards{
  display: flex;
  width: 50%;
  flex-direction: column;
  gap: 35px;
}
/* ARRIVALS */
.arrivals {
  flex-direction: row;
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
}
/* VALUES */
.values {
  display: flex;
  justify-content: space-between;
  margin: 48px auto;
}
/* BANNER */
.banner {
  display: flex;
  width: 100%;
  background-color: #f3f5f7;
  text-align: left;
}
.banner .backgroundGrid {
  width: 50%;
}
.banner .backgroundGrid img {
  width: 100%;
}
.banner .bannerTitle {
  display: flex;
  margin: auto;
  flex-direction: column;
  align-items: flex-start;
}
.banner .bannerTitle .sale {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  line-height: 16px;
  color: #377dff;
}
.banner .bannerTitle .titleSale {
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-size: 40px;
  line-height: 40px;
}
.banner .bannerTitle .Phosphorescent {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: 32px;
  margin-bottom: 5%;
}
/* BLOG SECTION */
.blogSection {
  padding: 0 0 80px 0;
}
.blogSection .articles {
  display: flex;
  justify-content: space-between;
}
